@font-face {
    font-family: "Poppins";
    src: url("../font/Poppins-Regular.ttf");
}
$primary-color: #B78D65;
$dark: #252525;
$light: #F8F8F8;
$grey: #777777;
$font-family: "Poppins", sans-serif;
*{
    margin: 0;
    padding: 0;
    font-family: $font-family;
    color: $dark;
}